<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
      <!--<appender-ref ref="ConsoleAppender" />-->
    </root>
    <logger name="AR.Logging">
      <level value="ALL"/>
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="File" value="log\AudioClientBeta.log"/>
      <param name="AppendToFile" value="true"/>
      <RollingStyle value ="Size"/>
      <!--日志最大可备份数-->
      <maxSizeRollBackups value="10"/>
      <!--日志文件大小-->
      <maximumFileSize value="1024KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="Level Date Thread Class(Logger) - Message &#13;&#10;"/>-->
        <!--<param name="Footer" value="Level Date Thread Class(Logger) - Message &#13;&#10;"/>-->
        <param name="ConversionPattern" value="%-5level %date{MM-dd HH:mm:ss,fff} %thread %logger - %message %newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5level %date{MM-dd HH:mm:ss,fff} %thread %logger - %message %newline"/>
      </layout>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
